@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  font-size: 64px;
  color: white;
  margin-bottom: 0px;
}
.heading-align {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
